# dependencies
node_modules/

# builds
.next/
dist/
build/
out/
coverage/

# env
.env
.env.*
!.env.example

# logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# misc
.DS_Store
*.pem
*.tsbuildinfo
.vercel/

PRD.txt
RBAC.txt

# Agent files
.agents/
.agent.md
.instructions.md
.prompt.md
.claude/
.continue/
.kiro/
.windsurf/
.copilot/
SKILL.md
AGENTS.md
copilot-instructions.md
agent-skills/
skills-lock.json

# Prisma
backend/src/generated/
*.tmp*
query_engine-*.dll.node
schema_engine-*.exe
libquery_engine.so.node